
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
}

:root{
    --primary-color:rgb(255, 237, 222);
    --secondary-color:rgb(101, 94, 70);
}

body{
    background-color: var(--primary-color);
}

html{
    font-size: 75.5% ;
}

/* main component start */
.header{
    width: 100%;
    height: 500px;
    color:var(--secondary-color);
    box-shadow: 0 5px 10px var(--secondary-color);
    display: flex;
    align-items: center;
    position: relative;
}


.row1 {
  position: relative;
}

.row1 img {
   border-radius: 5px;
}

.row1 h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  
}

.row2{
    position: relative;
    top:10px;
    left: 10px; 
    text-align: center;
} 
.row2 h2 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
} 


.search {
    display: inline-block;
    margin-top: 20px;
}

.search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 400px;
}

.search button {
    padding: 10px 15px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.search button i {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* responsivity start*/
@media only screen and (max-width: 1024px) {
  .header {
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
  }

  .row1 {
    margin-bottom: 30px;
  }

  .row1 h2 {
    font-size: 2rem;
  }

  .row1 img {
    width: 100%;
    height: auto;
  }

  .row2 {
    margin-bottom: 30px;
    left: 0;
    text-align: center;
  }

  .search {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .search input[type="text"] {
    width: 100%;
    max-width: 300px;
  }
}

/* card component start */
.container{
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:20px;
    box-sizing: border-box;
}

.card{
    background-color: rgb(246, 238, 238);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(245, 155, 70, 0.5);
    transition: .5s;
    text-align: center;
    position: relative;
}

.card:hover{
    transform: scale(0.9);
    background-color:rgba(223, 199, 166, 0.5) ;
}

.card img{
    width: 170px;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}

.card .bottom{
    display: flex;
    flex-direction: column;
}

.card .bottom .title {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card .bottom .author{
   font-size: 14px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.card hr {
    margin: 0 auto;
    width: 60%;
}

.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /* background: linear-gradient(rgba(255, 237, 222, 0.1),rgba(112, 107, 107, 0.3)); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-inner{
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}

.overlay-inner .close{
    position: absolute;
    top:1rem;
    right:1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}

.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.overlay-inner .inner-box img{
    margin-right:10px ;
    width: 150px;
    height: 200px;
}

.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: #896241;
}

.overlay-inner .inner-box h4{
        color: #896241;
}

.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color:#896241;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}

.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}
